@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-header {
		@apply flex-4 text-left text-xs tracking-wider my-auto hover:bg-gray-50 group focus:shadow-2xl focus:border-gray-300 rounded-full px-6 py-2;
	}

	.bdr-header {
		@apply border-r border-gray-300 h-8 self-center;
	}

	.footer-div {
		@apply flex-2 border-b border-gray-300 md:border-none;
	}

	.footer-ul {
		@apply flex flex-wrap  h-auto md:block font-light text-xs;
	}
	.footer-li {
		@apply py-1 cursor-pointer flex-3;
	}

	.tabslist-div {
		@apply flex flex-row flex-wrap;
	}

	.tabslist-ul {
		@apply w-1/4 py-2 text-xs font-light;
	}

	.navbar-active {
		@apply hidden sm:block fixed top-0 z-10 bg-white w-full font-light;
	}

	.navbar {
		@apply hidden sm:block absolute z-10 top-5 text-white text-base w-full;
	}

	.navsearch-active {
		@apply hidden;
	}
	.navsearch {
		@apply lg:-mt-6 mb-4 flex flex-row justify-center w-full text-base;
	}
	.formdiv-active {
		@apply hidden;
	}
	.formdiv {
		@apply bg-gray-50 rounded-full flex flex-row justify-between 
		h-16 max-w-3xl mx-auto text-black text-sm;
	}
	.mobileNav-active {
		@apply sm:hidden fixed top-0 z-10 bg-white w-full;
	}
	.mobileNav {
		@apply sm:hidden absolute top-10 flex justify-center items-center w-full;
	}
	.mobileNavButton-active {
		@apply relative z-10 flex justify-center w-11/12 rounded-full 
		bg-gray-50 text-center py-3 my-3 mx-auto text-xs text-gray-600 cursor-text
		md:hidden;
	}
	.mobileNavButton {
		@apply relative z-10 flex justify-center w-11/12 rounded-full 
		bg-white text-center py-3 my-3 mx-auto text-xs text-gray-600 cursor-text
		md:hidden;
	}
}

@layer base {
	@font-face {
		font-family: 'CircularStd-Book';
		font-weight: 400;
		src: local('CircularStd-Book'),
			url('../public/fonts/CircularStd-Book.otf') format('opentype');
	}
}
@font-face {
	font-family: 'CircularStd-Book';
	font-weight: 300;
	src: local('CircularStd-Light'),
		url('../public/fonts/CircularStd-Light.otf') format('opentype');
}
@font-face {
	font-family: 'CircularStd-Book';
	font-weight: 500;
	src: local('CircularStd-Medium'),
		url('../public/fonts/CircularStd-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'CircularStd-Book';
	font-weight: 700;
	src: local('CircularStd-Bold'),
		url('../public/fonts/CircularStd-Bold.otf') format('opentype');
}
#cardlist {
	grid-auto-rows: 0;
	overflow-y: hidden;
}

@media only screen and (min-width: 300px) {
	#liveAnywhereList {
		grid-auto-columns: max-content;
		scroll-behavior: smooth;
	}
}
@media only screen and (min-width: 960px) {
	#liveAnywhereList {
		max-width: 100%;
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

#liveAnywhereList::-webkit-scrollbar {
	display: none;
	scroll-padding: 0 0 0 25px;
}

#card {
	scroll-snap-align: start;
}

.currentTab {
	color: rgba(0, 0, 0, 0.85);
	padding-bottom: 0.5rem;
	font: normal;
	border-bottom: 2px solid black;
}

.guestsButton {
	fill: rgb(168, 168, 168);
}
.guestsButton :hover {
	fill: rgb(44, 44, 44);
}

input::placeholder {
	color: black;
	font-size: 14px;
	font-weight: 300;
}
