@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-header {
    @apply h-full px-6 py-3 my-auto text-xs tracking-wider text-left rounded-full flex-4 hover:shadow-3xl hover:bg-gray-50 focus:border-gray-300;
  }
  .btn-header-focus {
    @apply h-full px-6 py-3 my-auto text-xs tracking-wider text-left rounded-full flex-4 shadow-3xl hover:bg-gray-50 focus:border-gray-300;
  }
  .btn-location-focus {
    @apply h-full px-6 py-3 my-auto text-xs tracking-wider text-left rounded-full flex-4 shadow-3xl hover:bg-gray-50 focus:border-gray-300;
  }

  .bdr-header {
    @apply self-center h-8 border-r border-gray-300;
  }

  .footer-div {
    @apply border-b border-gray-300 flex-2 md:border-none;
  }

  .footer-ul {
    @apply flex flex-wrap h-auto text-sm md:block;
  }
  .footer-li {
    @apply py-1 leading-6 cursor-pointer flex-3;
  }

  .tabslist-div {
    @apply flex flex-row flex-wrap mb-12;
  }

  .tabslist-ul {
    @apply w-1/4 py-2 my-1 text-sm;
  }

  .navbar-active {
    @apply fixed top-0 hidden w-full bg-white sm:block;
  }

  .navbar {
    @apply absolute hidden w-full text-base text-white sm:block top-5;
  }

  .navsearch-active {
    @apply hidden;
  }
  .navsearch {
    @apply flex flex-row justify-center w-full mb-4 text-base lg:-mt-6;
  }
  .formdiv-active {
    @apply hidden;
  }
  .formdiv {
    @apply flex flex-row justify-between h-16 max-w-3xl mx-auto text-sm text-black rounded-full bg-gray-50;
  }
  .mobileNav-active {
    @apply fixed top-0 z-10 w-full bg-white sm:hidden;
  }
  .mobileNav {
    @apply absolute flex items-center justify-center w-full mx-auto text-black sm:hidden top-10;
  }
  .mobileNavButton-active {
    @apply relative z-10 flex justify-center w-11/12 py-3 mx-auto my-3 text-xs text-center text-gray-600 rounded-full bg-gray-50 cursor-text md:hidden;
  }
  .mobileNavButton {
    @apply relative z-10 flex justify-center flex-shrink-0 w-11/12 py-3 mx-auto my-3 text-xs text-center text-gray-600 bg-white rounded-full cursor-text md:hidden;
  }
}
.cursor {
  position: relative;
  margin-left: 1rem;
  width: 150px;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@layer base {
  @font-face {
    font-family: "PlusJakartaSans-Light";
    font-weight: 300;
    src: local("PlusJakartaSans"),
      url("../public/fonts/PlusJakartaSans-Light.woff") format("Web Open Font");
  }
}
@layer base {
  @font-face {
    font-family: "PlusJakartaSans-Regular";
    font-weight: 400;
    src: local("PlusJakartaSans"),
      url("../public/fonts/PlusJakartaSans-Regular.woff")
        format("Web Open Font");
  }
}
@font-face {
  font-family: "PlusJakartaDisplay-Medium";
  font-weight: 500;
  src: local("PlusJakartaSans"),
    url("../public/fonts/PlusJakartaDisplay-Medium.otf")
      format("Open Type Font");
}
@font-face {
  font-family: "PlusJakartaSans-Bold";
  font-weight: 600;
  src: local("PlusJakartaSans"),
    url("../public/fonts/PlusJakartaSans-Bold.woff") format("Web Open Font");
}
@font-face {
  font-family: "PlusJakartaSans-ExtraBold";
  font-weight: 700;
  src: local("PlusJakartaSans"),
    url("../public/fonts/PlusJakartaSans-ExtraBold.woff")
      format("Web Open Font");
}

#cardlist {
  grid-auto-rows: 0;
  overflow-y: hidden;
}

@media only screen and (min-width: 300px) {
  #liveAnywhereList {
    grid-auto-columns: max-content;
    scroll-behavior: smooth;
  }
}
@media only screen and (min-width: 960px) {
  #liveAnywhereList {
    max-width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

#liveAnywhereList::-webkit-scrollbar {
  display: none;
  scroll-padding: 0 0 0 25px;
}

#card {
  scroll-snap-align: start;
}

.currentTab {
  color: rgba(0, 0, 0, 0.85);
  padding-bottom: 0.5rem;
  font: normal;
  border-bottom: 2px solid black;
}

.guestsButton {
  fill: rgb(168, 168, 168);
}
.guestsButton :hover {
  fill: rgb(44, 44, 44);
}

input::placeholder {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

#map {
  position: sticky;
  top: 80px;
}

input[type="email"]::placeholder {
  font-size: 16px;
}
